// @import "_variables.scss";
@import "../../assets/scss/colors";
@import "../../assets/scss/_mixins";

.article {
  font-size: 1.2rem;
  list-style: none;
  &__header {
    font-size: 1.6rem;
    margin: 20px 20px 0 20px;
  }

  &__headline {
    margin: 20px 0 0 0;
  }

  &__btn {
    background-color: inherit;
    box-sizing: border-box;
    font-size: 1.2rem;

    padding: 0;
    border: none;
    font-weight: bold;
    color: $brown;
    &:hover {
      color: $orange;
      cursor: pointer;
    }
  }

  &__picture {
    width: 20%;
    @include flex_center;
  }

  &__picture-img {
    max-width: 70%;
    border: 3px solid $orange;
  }

  &__picture--active {
    width: 100%;
    @include flex_center;
  }

  .article-btn {
    border: 1px solid $orange;
    background-color: $light_beige;
    border-radius: 25px;
    height: 30px;
    width: 100px;
    &:hover {
      color: $orange;
      transition: 0.2s ease-in-out;
      box-shadow: 2px -2px 25px $dark_beige;
      cursor: pointer;
    }
  }

  &_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__wrap {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__element {
      margin: 20px 10px 0 10px;
    }

    .article-btn--active {
      background-color: $dark_beige;
    }

    .article-btn--active::before {
      content: "♥";
      font-size: 1rem;
      color: $red;
    }
  }

  .article__wrapper {
    margin: 40px 40px 0 40px;
  }

  &-line {
    width: 99%;
    height: 1px;
    background-color: $orange;
  }
}

.countViews {
  @include flex-end;
  padding-right: 40px;
}
