.article {
  font-size: 1.2rem;
  list-style: none;
}

.article__wrapper {
  margin: 40px 40px 0 40px; //???
}

.article__header {
  font-size: 1.6rem;
  margin: 20px 20px 0 20px;
}

.article__headline {
  margin: 20px 0 0 0;
}

.article__btn {
  padding: 0;
  background-color: inherit;
  box-sizing: border-box;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #532703;
}

.article__btn:hover {
  color: #c44615;
  cursor: pointer;
}

.article__body {
  display: none;
}

.article-btn {
  border: 1px solid #c45c07;
  background-color: #f8e0b9;
  border-radius: 25px;
  height: 30px;
  width: 100px;
}

.article-btn:hover {
  border: 1px solid #753705;
  background-color: #fad291;
  cursor: pointer;
}

.article-btn--like::before {
  content: "♥";
  font-size: 1.2rem;
  color: #f80303;
  margin-right: 3px;
}

.article-btn__wrapper {
  margin: 20px 20px 20px 20px;
}

.article__picture {
  width: 20%;
  display: flex;
  justify-content: center;
}

.article__picture-img {
  max-width: 70%;
  border: 3px solid #753705;
}

.line {
  width: 100%;
  height: 5px;
  background-color: #c45c07;
}

// .article__body--active {
//   display: block;
// }

.article__picture--active {
  width: 100%;
  display: flex;
  justify-content: center;
}
